/* linea de comentario css y scss*/
footer .logo-cc img, header .color-primario .container-fluid .navbar-brand img {
  margin-left: 5px;
  width: 60px;
}

footer .redes-sociales img, header .color-primario .container-fluid .redes-sociales img {
  width: 20px;
  height: 20px;
  margin: 3px;
}

.contenedor-locales .info, main .contenedor-productos .producto .img-producto .contenedor-botones-accion, main .contenedor-productos .producto .img-producto .codigo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-contactanos .for-contactanos .boton-contactanos {
  background-color: #fae7cf;
  border: 1px #d0b28e solid;
  border-radius: 5px;
  border-radius: 14px;
  opacity: 85%;
  height: 40px;
}

.contenedor-contactanos .for-contactanos .boton-contactanos p {
  font-weight: bold;
  font-size: larger;
}

.titulo-local, main .titulo-producto {
  background-color: #e2d0c3;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

/* decoracion global*/
.nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.boton-opacidad:hover {
  opacity: 100%;
}

.decoracion-escalar:hover {
  scale: 98%;
  opacity: 80%;
}

.pagina-actual {
  font-weight: bold;
}

header .color-primario {
  background-color: #fae7cf;
  border-bottom: 2px #d0b28e solid;
}
header .color-primario .container-fluid .redes-sociales {
  display: flex;
}
header .color-primario .container-fluid .redes-sociales a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6px;
  opacity: 75%;
}
header .posicion-menu {
  display: flex;
  justify-content: right;
}

main .p-agotado {
  opacity: 40%;
}
main .titulo-producto h2 {
  color: rgb(66, 66, 66);
  font-size: 5vw;
  padding: 7px;
}
main .contenedor-productos {
  width: 90%;
  position: relative;
  top: 20px;
  bottom: auto;
  right: auto;
  left: 5%;
  gap: 30px;
}
main .contenedor-productos .contenedor-datos-filtros .contenedor-categorias {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
main .contenedor-productos .producto .producto-lig01 {
  background-image: url(../recursos/catalogo-liquidacion/liq01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig02 {
  background-image: url(../recursos/catalogo-liquidacion/liq02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig03 {
  background-image: url(../recursos/catalogo-liquidacion/liq03.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig04 {
  background-image: url(../recursos/catalogo-liquidacion/liq04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig05 {
  background-image: url(../recursos/catalogo-liquidacion/liq05.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig06 {
  background-image: url(../recursos/catalogo-liquidacion/liq06.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig07 {
  background-image: url(../recursos/catalogo-liquidacion/liq07.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig08 {
  background-image: url(../recursos/catalogo-liquidacion/liq08.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig09 {
  background-image: url(../recursos/catalogo-liquidacion/liq09.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig11 {
  background-image: url(../recursos/catalogo-liquidacion/liq11.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig12 {
  background-image: url(../recursos/catalogo-liquidacion/liq12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig13 {
  background-image: url(../recursos/catalogo-liquidacion/liq13.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig14 {
  background-image: url(../recursos/catalogo-liquidacion/liq14.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig15 {
  background-image: url(../recursos/catalogo-liquidacion/liq15.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig16 {
  background-image: url(../recursos/catalogo-liquidacion/liq16.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig17 {
  background-image: url(../recursos/catalogo-liquidacion/liq17.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig18 {
  background-image: url(../recursos/catalogo-liquidacion/liq18.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig19 {
  background-image: url(../recursos/catalogo-liquidacion/liq19.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig20 {
  background-image: url(../recursos/catalogo-liquidacion/liq20.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig21 {
  background-image: url(../recursos/catalogo-liquidacion/liq21.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig22 {
  background-image: url(../recursos/catalogo-liquidacion/liq22.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig23 {
  background-image: url(../recursos/catalogo-liquidacion/liq23.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig24 {
  background-image: url(../recursos/catalogo-liquidacion/liq24.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig25 {
  background-image: url(../recursos/catalogo-liquidacion/liq25.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig26 {
  background-image: url(../recursos/catalogo-liquidacion/liq26.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig27 {
  background-image: url(../recursos/catalogo-liquidacion/liq27.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig28 {
  background-image: url(../recursos/catalogo-liquidacion/liq28.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig29 {
  background-image: url(../recursos/catalogo-liquidacion/liq29.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig30 {
  background-image: url(../recursos/catalogo-liquidacion/liq30.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig31 {
  background-image: url(../recursos/catalogo-liquidacion/liq31.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig32 {
  background-image: url(../recursos/catalogo-liquidacion/liq32.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig34 {
  background-image: url(../recursos/catalogo-liquidacion/liq34.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig35 {
  background-image: url(../recursos/catalogo-liquidacion/liq35.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig36 {
  background-image: url(../recursos/catalogo-liquidacion/liq36.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig37 {
  background-image: url(../recursos/catalogo-liquidacion/liq37.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig38 {
  background-image: url(../recursos/catalogo-liquidacion/liq38.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig39 {
  background-image: url(../recursos/catalogo-liquidacion/liq39.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig40 {
  background-image: url(../recursos/catalogo-liquidacion/liq40.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig41 {
  background-image: url(../recursos/catalogo-liquidacion/liq41.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig42 {
  background-image: url(../recursos/catalogo-liquidacion/liq42.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig43 {
  background-image: url(../recursos/catalogo-liquidacion/liq43.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig44 {
  background-image: url(../recursos/catalogo-liquidacion/liq44.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig45 {
  background-image: url(../recursos/catalogo-liquidacion/liq45.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .producto-lig46 {
  background-image: url(../recursos/catalogo-liquidacion/liq46.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor-productos .producto .img-producto {
  width: 100%;
  height: 90vw;
}
main .contenedor-productos .producto .img-producto .codigo {
  background-color: red;
  color: white;
  height: 30px;
  width: 60px;
  position: relative;
  top: 15px;
}
main .contenedor-productos .producto .img-producto .contenedor-botones-accion {
  opacity: 85%;
  background-color: #d0b28e;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: 63vw;
}
main .contenedor-productos .producto .img-producto .contenedor-botones-accion .contenedor-tallas-tatales {
  width: 90%;
  height: 30px;
  font-size: 150%;
  font-family: Arial;
  font-weight: bold;
}
main .contenedor-productos .producto .img-producto .contenedor-botones-accion .contenedor-tallas-tatales .contenedor-tallas {
  display: flex;
  justify-content: space-around;
  column-gap: 3px;
}
main .contenedor-productos .producto .img-producto .contenedor-botones-accion .contenedor-tallas-tatales .contenedor-tallas .agotado {
  text-decoration: line-through;
  opacity: 10%;
}
main .contenedor-productos .producto .text-producto {
  scale: 95%;
}
main .contenedor-productos .producto .text-producto h5 {
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
main .contenedor-productos .producto .text-producto .texto-producto P {
  text-align: center;
}
main .contenedor-productos .producto .text-producto .estrella {
  display: flex;
  justify-content: center;
  column-gap: 3px;
}
main .contenedor-productos .producto .text-producto .estrella .estrella-encendida {
  font-size: large;
  color: rgb(66, 66, 66);
}
main .contenedor-productos .producto .precio-producto {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-size: large;
}
main .contenedor-productos .producto .precio-producto .antes {
  opacity: 80%;
  font-weight: 500;
  text-decoration: line-through;
}
main .contenedor-productos .producto .precio-producto .ahora {
  font-weight: 800;
  color: red;
}
main .paginas-listado {
  position: relative;
  left: 100%;
}
@media screen and (min-width: 1000px) {
  main {
    /*Pagina Producto*/
  }
  main .titulo-producto h2 {
    font-size: 1.5vw;
  }
  main .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    scale: 97%;
  }
  main .contenedor-productos .producto .img-producto {
    width: 100%;
    height: 30vw;
  }
  main .contenedor-productos .producto .img-producto .contenedor-botones-accion {
    top: 22vw;
  }
}

footer {
  scale: 85%;
  border-top: 2px #d0b28e solid;
  display: grid;
  align-items: center;
  grid-template-columns: 70% 30%;
}
footer .logo-cc {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3px;
}
footer .logo-cc h6 {
  padding-top: 15px;
  padding-left: 3%;
  font-size: medium;
  color: rgb(66, 66, 66);
}
footer .posicion-menu {
  display: flex;
  justify-content: right;
}
footer .redes-sociales {
  display: flex;
}
.titulo-local h2 {
  color: white;
  font-size: 5vw;
  padding: 7px;
}

.contenedor-locales .local {
  text-align: center;
  scale: 95%;
}
.contenedor-locales .local iframe {
  width: 100%;
}
.contenedor-locales .local img {
  width: 100%;
}
.contenedor-locales .info {
  border: 3px #fae7cf solid;
  scale: 97%;
}
.contenedor-locales .info img {
  width: 5vw;
  height: 100%;
  opacity: 80%;
}
.contenedor-locales .info p {
  font-size: 3vw;
  margin-top: 15px;
  margin-left: 10px;
}

.contenedor-contactanos {
  border: 10px #fae7cf solid;
  padding: 10px;
}
.contenedor-contactanos .contacatanos {
  margin: 30px;
  width: 60%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  position: relative;
  left: 10%;
}
.contenedor-contactanos .contacatanos img {
  width: 35%;
  opacity: 60%;
  position: relative;
  left: 70%;
}
.contenedor-contactanos .contacatanos p {
  margin: 20px;
  font-weight: 500;
}
.contenedor-contactanos .for-contactanos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  row-gap: 20px;
  position: relative;
  left: 9%;
}
.contenedor-contactanos .for-contactanos input, .contenedor-contactanos .for-contactanos textarea {
  width: 100%;
}
.contenedor-contactanos .for-contactanos .titulo-for {
  grid-column: span 2;
  text-align: center;
  background-color: #fae7cf;
  padding-top: 5px;
}
.contenedor-contactanos .for-contactanos .for-datos {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  height: 20px;
}
.contenedor-contactanos .for-contactanos .for-telefono {
  grid-column: span 2;
}
.contenedor-contactanos .for-contactanos .for-comentario {
  grid-column: span 2;
}
@media screen and (min-width: 768px) {
  .titulo-local h2 {
    font-size: 1.5vw;
  }
  .contenedor-contactanos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 20px #fae7cf solid;
    padding: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .contenedor-locales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    scale: 97%;
  }
  .contenedor-locales .info img {
    width: 1.5vw;
  }
  .contenedor-locales .info p {
    font-size: 1.4vw;
  }
}

/*# sourceMappingURL=style.css.map */
