.producto-lig01{
    background-image: url(../recursos/catalogo-liquidacion/liq01.png);
    @include ajuste-imagen;
}
.producto-lig02{
    background-image: url(../recursos/catalogo-liquidacion/liq02.png);
    @include ajuste-imagen;
}
.producto-lig03{
    background-image: url(../recursos/catalogo-liquidacion/liq03.png);
    @include ajuste-imagen;
}
.producto-lig04{
    background-image: url(../recursos/catalogo-liquidacion/liq04.png);
    @include ajuste-imagen;
}
.producto-lig05{
    background-image: url(../recursos/catalogo-liquidacion/liq05.png);
    @include ajuste-imagen;
}
.producto-lig06{
    background-image: url(../recursos/catalogo-liquidacion/liq06.png);
    @include ajuste-imagen;
}
.producto-lig07{
    background-image: url(../recursos/catalogo-liquidacion/liq07.png);
    @include ajuste-imagen;
}
.producto-lig08{
    background-image: url(../recursos/catalogo-liquidacion/liq08.png);
    @include ajuste-imagen;
}


.producto-lig10{
    background-image: url(../recursos/catalogo-liquidacion/liq10.png);
    @include ajuste-imagen;
}
.producto-lig11{
    background-image: url(../recursos/catalogo-liquidacion/liq11.png);
    @include ajuste-imagen;
}
.producto-lig12{
    background-image: url(../recursos/catalogo-liquidacion/liq12.png);
    @include ajuste-imagen;
}
.producto-lig13{
    background-image: url(../recursos/catalogo-liquidacion/liq13.png);
    @include ajuste-imagen;
}
.producto-lig14{
    background-image: url(../recursos/catalogo-liquidacion/liq14.png);
    @include ajuste-imagen;
}
.producto-lig15{
    background-image: url(../recursos/catalogo-liquidacion/liq15.png);
    @include ajuste-imagen;
}
.producto-lig16{
    background-image: url(../recursos/catalogo-liquidacion/liq16.png);
    @include ajuste-imagen;
}
.producto-lig17{
    background-image: url(../recursos/catalogo-liquidacion/liq17.png);
    @include ajuste-imagen;
}
.producto-lig18{
    background-image: url(../recursos/catalogo-liquidacion/liq18.png);
    @include ajuste-imagen;
}
.producto-lig19{
    background-image: url(../recursos/catalogo-liquidacion/liq19.png);
    @include ajuste-imagen;
}
.producto-lig20{
    background-image: url(../recursos/catalogo-liquidacion/liq20.png);
    @include ajuste-imagen;
}
.producto-lig21{
    background-image: url(../recursos/catalogo-liquidacion/liq21.png);
    @include ajuste-imagen;
}
.producto-lig22{
    background-image: url(../recursos/catalogo-liquidacion/liq22.png);
    @include ajuste-imagen;
}
.producto-lig23{
    background-image: url(../recursos/catalogo-liquidacion/liq23.png);
    @include ajuste-imagen;
}
.producto-lig24{
    background-image: url(../recursos/catalogo-liquidacion/liq24.png);
    @include ajuste-imagen;
}
.producto-lig25{
    background-image: url(../recursos/catalogo-liquidacion/liq25.png);
    @include ajuste-imagen;
}
.producto-lig26{
    background-image: url(../recursos/catalogo-liquidacion/liq26.png);
    @include ajuste-imagen;
}
.producto-lig27{
    background-image: url(../recursos/catalogo-liquidacion/liq27.png);
    @include ajuste-imagen;
}
.producto-lig28{
    background-image: url(../recursos/catalogo-liquidacion/liq28.png);
    @include ajuste-imagen;
}
.producto-lig29{
    background-image: url(../recursos/catalogo-liquidacion/liq29.png);
    @include ajuste-imagen;
}
.producto-lig30{
    background-image: url(../recursos/catalogo-liquidacion/liq30.png);
    @include ajuste-imagen;
}
.producto-lig31{
    background-image: url(../recursos/catalogo-liquidacion/liq31.png);
    @include ajuste-imagen;
}
.producto-lig32{
    background-image: url(../recursos/catalogo-liquidacion/liq32.png);
    @include ajuste-imagen;
}

.producto-lig34{
    background-image: url(../recursos/catalogo-liquidacion/liq34.png);
    @include ajuste-imagen;
}
.producto-lig35{
    background-image: url(../recursos/catalogo-liquidacion/liq35.png);
    @include ajuste-imagen;
}
.producto-lig36{
    background-image: url(../recursos/catalogo-liquidacion/liq36.png);
    @include ajuste-imagen;
}
.producto-lig37{
    background-image: url(../recursos/catalogo-liquidacion/liq37.png);
    @include ajuste-imagen;
}
.producto-lig38{
    background-image: url(../recursos/catalogo-liquidacion/liq38.png);
    @include ajuste-imagen;
}
.producto-lig39{
    background-image: url(../recursos/catalogo-liquidacion/liq39.png);
    @include ajuste-imagen;
}
.producto-lig40{
    background-image: url(../recursos/catalogo-liquidacion/liq40.png);
    @include ajuste-imagen;
}
.producto-lig41{
    background-image: url(../recursos/catalogo-liquidacion/liq41.png);
    @include ajuste-imagen;
}
.producto-lig42{
    background-image: url(../recursos/catalogo-liquidacion/liq42.png);
    @include ajuste-imagen;
}
.producto-lig43{
    background-image: url(../recursos/catalogo-liquidacion/liq43.png);
    @include ajuste-imagen;
}
.producto-lig44{
    background-image: url(../recursos/catalogo-liquidacion/liq44.png);
    @include ajuste-imagen;
}
.producto-lig45{
    background-image: url(../recursos/catalogo-liquidacion/liq45.png);
    @include ajuste-imagen;
}
.producto-lig46{
    background-image: url(../recursos/catalogo-liquidacion/liq46.png);
    @include ajuste-imagen;
}